<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <services>
      <service name="AuthorizationService.AuthorizationService">
        <endpoint address="http://localhost:8085/AuthorizationService/Service.svc" 
                  binding="basicHttpBinding" 
                  contract="AuthorizationService.IAuthorizationService" />
        <endpoint address="http://localhost:8090/AuthorizationService/mex/Service.svc" 
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>
