<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <services>
      <service name="AuthenticationService.AuthenticationService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085/AuthenticationService/"/>
          </baseAddresses>
        </host>
        
        <endpoint address="Service.svc"
                  binding="wsHttpBinding"
                  contract="AuthenticationService.IAuthenticationService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
      
      <service name="GoogleMapsInterfaceService.GoogleMapsInterfaceService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090/GoogleMapsInterfaceService"/>
          </baseAddresses>
        </host>
        
        <endpoint address="Service.svc"
                  binding="wsHttpBinding"
                  contract="GoogleMapsInterfaceService.IGoogleMapsInterfaceService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
