<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <services>
      <service name="DatabaseConnectionService.DatabaseConnectionService">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.5:8085/DatabaseConnectionService/"/>
          </baseAddresses>
        </host>
        
        <endpoint address="Service.svc"
                  binding="basicHttpBinding"
                  contract="DatabaseConnectionService.IDatabaseConnectionService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
      
      <service name="GoogleMapsInterfaceService.GoogleMapsInterfaceService">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.5:8090/GoogleMapsInterfaceService"/>
          </baseAddresses>
        </host>
        
        <endpoint address="Service.svc"
                  binding="basicHttpBinding"
                  contract="GoogleMapsInterfaceService.IGoogleMapsInterfaceService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
