@model MedicalLocator.WebFront.Models.CommandsData.RegisterData
           
@using (Ajax.BeginForm("Register", "Registering", null,
    new AjaxOptions { OnSuccess = "onRegisterSuccess" },
    new { id = "register_form" }))
{
    @Html.FieldFor(model => model.Login)
    @Html.PassFor(model => model.Password)
    @Html.PassFor(model => model.PasswordRetype)

    <p>
        <textarea rows="4" cols="60" readonly="readonly" style="font-size: 0.9em" >
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id mauris at augue faucibus condimentum. Nulla quam felis, vehicula nec lacinia id, rutrum non enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis malesuada hendrerit purus, vitae varius sem ullamcorper nec. Morbi vitae odio quam. Ut accumsan eleifend lorem, non faucibus ante cursus in. Maecenas nisl augue, tincidunt at scelerisque nec, ultrices eu justo. Nam aliquet malesuada pulvinar. Vestibulum erat lacus, scelerisque non ultrices a, ultrices id sem. Mauris id mauris at augue faucibus condimentum. Nulla quam felis, vehicula nec lacinia id, rutrum non enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis malesuada hendrerit purus, vitae varius sem ullamcorper nec. Morbi vitae odio quam. Ut accumsan eleifend lorem, non faucibus ante cursus in. Maecenas nisl augue, tincidunt at scelerisque nec, ultrices eu justo. Nam aliquet malesuada pulvinar. Vestibulum erat lacus, scelerisque non ultrices a, ultrices id sem. Phasellus laoreet vestibulum tincidunt.
        </textarea>
   
        @Html.NamedCheckBoxFor("I have read and agree to the license agreement.", model => model.LicenceAgree)
    </p>
}

<hr />

<button id="register_button">
    Register
</button>

<script type="text/javascript">
    function onRegisterSuccess(response) {
        registeringDialogManager.processRegisterResponse(response);
    }

    $(function () {
        $.validator.unobtrusive.parse(document);
        registeringDialogManager.initialize();
    });
</script>