@using MedicalLocator.WebFront.ViewModels
@model SearchDataViewModel
           
@using (Ajax.BeginForm("Search", "Searching", null,
    new AjaxOptions { OnSuccess = "onSearchSuccess" },
    new { id = "search_form" }))
{
    @Html.HiddenFor(model => model.SearchData.UserLatitude)
    @Html.HiddenFor(model => model.SearchData.UserLongitude)
    
    <div id="search_options_tabs">
        <ul>
            <li><a href="#tabs-1">General</a></li>
            <li><a href="#tabs-2">Objects</a></li>
        </ul>
        <div id="tabs-1">
            @Html.Partial("_SearchGenralTabPartial", Model)
        </div>
        <div id="tabs-2">
            @Html.Partial("_SearchObjectsTabPartial", Model.MedicalTypesDictionary)
        </div>
    </div>
}
<hr />

<button id="search_button">
    Search
</button>
<script type="text/javascript">
    function onSearchSuccess(response) {
        searchingDialogManager.processSearchResponse(response);
    }

    $(function () {
        $.validator.unobtrusive.parse(document);
        searchingDialogManager.initialize();
    });
</script>
