<div id="login_block">
    @if (User.Identity.IsAuthenticated)
    {
        <a>@User.Identity.Name</a>
    }
    else
    {
        <div id="login_menu_button" class="menu_item">
            <a>Login</a>
        </div>
    }
</div>


<script type="text/javascript">
    $(function () {
        var menuManager = new MenuManager();

        var loginButtonElement = $("#login_menu_button");
        menuManager.initializeLoginButton(loginButtonElement);
    });
</script>