<noscript>
    <div id="no_javascript">
        <div id="no_javascript_message">
            <img src="@Url.Content("~/Content/Graphics/error.png")" alt="Error!"/>
            <span>
                In order to use this page, you need to have JavaScript enabled in your browser. 
            </span>
        </div>
    </div>
</noscript>