#menu 
{
    background: black;
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.menu_item {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 15px;
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background: transparent;
    
}

.menu_item a 
{
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    background: inherit;
}

.menu_item:hover {
    color: #C9E1AF;
    cursor: pointer;
}

#login_block {
    float: right;
    margin-right: 15px;
    margin-left: 0px;
}