body
{
    font-size: .85em;
    font-family: Segoe UI, Arial, sans-serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section
{
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}

.field_block
{
    display: block;
    margin-bottom: 8px;
}

.field_block label
{
    margin-right: 10px;
    display: block;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

input[type=text]
{
    width: 170px;
}

select
{
    width: 175px;
}

span.field-validation-error 
{
    margin-left: 5px;
}

#medical_types_validation_div 
{
    margin-bottom: 10px;    
}

/* Styles for busy indicator 
-----------------------------------------------------------*/
#overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    opacity: 0.4;
    z-index: 1;
    display: none;
    z-index: 9999;
}

#busy_image
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
}

/* Styles for searching 
-----------------------------------------------------------*/
#search_button
{
    float: right;
}
