<div id="google_map_div">
</div>

<script type="text/javascript">
    $(function () {
        var googleMapElement = $("#google_map_div");

        googleMapsManager.initializeMap(googleMapElement);
        googleMapsManager.updateMapSize();

        $(window).resize(function () {
            googleMapsManager.updateMapSize();
        });
    });
</script>

