<div id="google_map_div">
</div>

<div id="logo_div">
     <img src="@Url.Content("~/Content/Graphics/logoWeb.png")" alt="Medical Locator"/>
</div>

<script type="text/javascript">
    $(function () {
        var googleMapElement = $("#google_map_div");

        googleMapsManager.initializeMap(googleMapElement);
        googleMapsManager.updateMapSize();

        $(window).resize(function () {
            googleMapsManager.updateMapSize();
        });
    });
</script>

