<div id="google_map_div"></div>

<script type="text/javascript">
    $(function () {
        var googleMapDomElement = $("#google_map_div")[0];
        googleMapsManager.initializeMap(googleMapDomElement);
    });
 </script>